[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
praw = "*"
psaw = "*"
tqdm = "*"
pandas = "*"
nltk = "*"
sklearn = "*"
matplotlib = "*"
yellowbrick = "*"
scipy = "*"
seaborn = "*"

[dev-packages]
ipython = "*"

[requires]
python_version = "3.7"
